.about {
  background-color: var(--dark);
  color: var(--light);
  text-align: center;
  padding-bottom: 30px;
}

.about > section {
  padding: 70px 0;
  position: relative;
}

.design-bar {
  position: absolute;
  width: 4px;
  height: 80px;
  background-color: var(--light);
  right: 0;
  top: 0;
}

.about-title {
  margin-top: 2rem;
}

.about-title > p {
  margin-bottom: 1rem;
  font-weight: 600;
  color: var(--light-grey);
}

.about-title > h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
  position: relative;
  padding-bottom: 1rem;
  display: inline-block;
}

.about-title > h1::after {
  content: '';
  position: absolute;
  width: 60%;
  height: 2px;
  background-color: var(--light-grey);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.about-body {
  /* width: min(80%, 900px); */
  width: 100%;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: 300 !important;
  letter-spacing: 1px;
  line-height: 1.7;
}

@media screen and (max-width: 480px) {
  .about-title > h1 {
    font-size: 3rem;
  }

  .about-body {
    font-size: 1rem;
  }

  .about > section {
  padding: 2rem 0;
}
}
